@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  overscroll-behavior-y: contain;
}

body {
  color: white;
  background-color: white;
}

.user-form {
  color: black;
}

.user-form input {
  color: black;
}

.nav-slide {
  animation-name: slideIn;
  animation-duration: 0.5s;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

textarea {
  resize: none;
}

@keyframes slideIn {
  from {
    transform: translateX(250px);
  }

  to {
    transform: translateX(0px);
  }
}

.nav-slide2 {
  animation-name: slideOut;
  animation-duration: 0.5s;
  transform: translateX(250px);
}

@keyframes slideOut {
  from {
    display: flex;
    transform: translateX(0px);
  }

  to {
    transform: translateX(250px);
    display: none;
  }
}


.bgimg {
  background-image: url("https://cdn.dribbble.com/users/101684/screenshots/1359361/media/d7214f8f3fd4d6798277e18fb3bb5280.png");
  background-position: bottom;
  background-size: cover;
}


/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #faf9f9ed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #53D878;
  border-radius: 4px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #53D878;
}